
/* responsive header */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0.493);
}

.subtitle {
    display: flex;
    justify-content: center;
}

/* responsive footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0.534);
}

/* flexbox card system for main content, change card sizing by adjusting height & width */

content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    height: 200px;  
    width: 400px;
    border: 1px solid red;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
}

.smallCard {
    height: 200px;  
    width: 200px;
    border: 1px solid red;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
}

.longCard {
    height: 200px;  
    width: 600px;
    border: 1px solid red;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
}


/* newsfeed card styling */

.unite {
    background: url("/images/AvengersUnite.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.cardContent {
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    padding: 0em .5em;
}

.cardContent h3, .cardContent p {
    margin: .2em;
}

.teenChoice {
    background: url("/images/teenchoiceawards.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.avengersPremiere{
    background: url("/images/avengerspremier.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.kimmel{
    background: url("/images/Kimmel.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-position: 50% 10%;
}

.siskel{
    background: url("/images/siskel.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-position: top;
}