
/* Navigation Bar */
body {
    background-color: rgb(236, 236, 236);
    margin: 0;
}
nav {
    padding: 1em 0em;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    font-family: Tahoma;
    font-size: 15px;
    letter-spacing: 2px;
}
/*Link Design*/

a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: rgb(92, 91, 91);
}

/* Title Design */
h1 {
    display: block;
    direction: rtl;
    font-family: Tahoma;
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow: black 1px 0 10px;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/es-title2.jpg");
    background-size: cover;
    height: 500px;
    background-position: left;
    color: white;
    display: flex;
    background-color: grey;
}

/* responsive footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0.534);
}

/* flexbox card system for main content, change card sizing by adjusting height & width */

content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    height: 200px;  
    width: 400px;
    border: 1px solid red;
    margin: 2em;
    padding: 1em;
    border-radius: 5px;
}

.smallCard {
    height: 200px;  
    width: 200px;
    border: 1px solid red;
    margin: 2em;

    padding: 1em;
    border-radius: 5px;
}

.longCard {
    height: 200px;  
    width: 600px;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
}

/*Personal card styling*/

/* Date of Birth */
.birthday {
    background: url("/images/downey.jpeg");
    background-position: 50% 40%;
    color: rgb(201, 195, 195);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

/* description inside photos */

.textBox {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    padding: 0em .2em;
}

.textBox h4, .textBox p  {
    margin: 0.1em;

}

/* BirthDate */

.name {
    background: url("/images/robertNdad.jpeg");
    background-position: 50% 80%;
    color: rgb(201, 195, 195);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

/* Current Country Of Residence */

.res {
    background: url("/images/residence.jpeg");
    background-position: 40% 60%;
    color: rgb(201, 195, 195);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

/* Current Family Photos */

.familyPics {
    background: url("/images/rdjson.png");
    background-position: 60% 30%;
    color: rgb(201, 195, 195);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.longCard{
    height: 200px;  
    width: 600px;
    border: 1px solid red;
    margin: 2em;
    padding: 1em;
    border-radius: 5px;
}


/* newsfeed card styling */

.unite {
    background: url("/images/AvengersUnite.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.cardContent {
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    padding: 0em .5em;
}

.cardContent h3, .cardContent p {
    margin: .2em;
}

.teenChoice {
    background: url("/images/teenchoiceawards.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.avengersPremiere{
    background: url("/images/avengerspremier.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.kimmel{
    background: url("/images/Kimmel.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-position: 50% 10%;
}

.siskel{
    background: url("/images/siskel.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-position: top;
}
/* Executive Summary Card Styling */

h3 {
    display: block;
    direction: center;
    font-family: Tahoma;
    font-size: 15px;
    letter-spacing: 2px;
}

.text-block {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1%;
}

.box1 {

    display: flex;
    align-items: flex-end;
    height: 250px;  
    width: 300px;
    background: url("/images/box1.jpg");
    background-size: cover;
    color: white;
}  
.box1 .text-block h3 {
    margin: .2em
}
.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;  
    width: 300px;
    background: url("/images/box2.jpeg");
    background-size: cover;
    color: white;
}  
.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;  
    width: 300px;
    background: url("/images/box3.jpg");
    background-size: cover;
    color: white;
}  

/* Career */

.intro {
    height: 300px;  
    width: 400px;
    background: url("/images/intro_RDJ.jpg");
    background-size: cover;
    color: white;
    }
/* RDJ's talents and skills */
.talents {
    height: 300px;  
    width: 400px;
    background: url("/images/rdj_skills.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }
/* places that RDJ has lived */
.home {
    height: 250px;  
    width: 300px; 
    background: url("/images/rdj_house.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Published works */
.film1 {
    height: 250px;  
    width: 300px;
    background: url("/images/rdj_iron_man.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.film2 {
    height: 250px;  
    width: 300px;
    background: url("/images/rdj_sherlock2.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.film3 {
    height: 250px;  
    width: 300px;
    background: url("/images/rdj_tt.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.awards {
    height: 250px;  
    width: 3s00px;
    background: url("/images/rdj_gg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



 .text-block {
            background-color: rgba(0, 0, 0, 0.473);
            padding: .2em;
        }




/* responsive footer */

footer {
    padding: 1em 0em;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
footer a {
    height: 32px;
}


