
/* Navigation Bar */
body {
    background-color: rgb(236, 236, 236);
    margin: 0;
    font-family: Tahoma;
}
nav {
    padding: 2em 0em;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: Tahoma;
    font-size: 15px;
    letter-spacing: 2px;
    justify-content: space-around;
    z-index: -5;
}

/*Link Design*/
/* a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: rgb(255, 255, 255);
} */

/* link button animation */

.btn {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: block;
    font-family: Tahoma, 'trebuchet ms';
    font-size: 1em;
    letter-spacing: 0.3em;
    padding: .2em .5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: .5s;
  }
  
  .btn:hover {
    background: white;
    color: black;
    transform: scale(1.2)
  }


/* Title Design */
h1 {
    display: block;
    text-align: right;
    font-family: Tahoma;
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow: black 1px 0 10px;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/es-title2.jpg");
    background-size: cover;
    height: 500px;
    background-position: left;
    color: white;
    display: flex;
    background-color: grey;
}

/* flexbox card system for main content, change card sizing by adjusting height & width */

content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    height: 200px;  
    width: 400px;
    margin: 2em;
    padding: 1em;
    border-radius: 5px;
    transition: .5s;
}

.smallCard {
    height: 200px;  
    width: 200px;
    margin: 2em;
    padding: 1em;
    border-radius: 5px;
    transition: .5s;
}

.longCard {
    height: 200px;  
    width: 600px;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    transition: .5s;
}

/*Personal Card Styling*/
/* Date of Birth */
.birthday {
    background: url("/images/downey2.jpeg");
    background-position: 50% 60%;
    color: rgb(231, 226, 226);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

/* description inside photos */

.textBox {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    padding: 0em .2em;
}

.textBox h4, .textBox p  {
    margin: 0.1em;
}

/* BirthDate */

.name {
    background: url("/images/robertNdad.jpeg");
    background-position: 50% 80%;
    color: rgb(231, 226, 226);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

/* Current Country Of Residence */

.res {
    background: url("/images/residence.jpeg");
    background-position: 40% 60%;
    color: rgb(231, 226, 226);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

/* Current Family Photos */

.familyPics {
    background: url("/images/rdjson.png");
    background-position: 60% 30%;
    color: rgb(231, 226, 226);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.longCard{
    height: 200px;  
    width: 600px;
    margin: 2em;
    padding: 1em;
    border-radius: 5px;
}

/* newsfeed card styling */
.unite {
    background: url("/images/AvengersUnite.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.cardContent {
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    padding: 0em .5em;
}

.cardContent h3, .cardContent p {
    margin: .2em;
}

.teenChoice {
    background: url("/images/teenchoiceawards.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.avengersPremiere{
    background: url("/images/avengerspremier.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.kimmel{
    background: url("/images/Kimmel.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-position: 50% 10%;
}

.siskel{
    background: url("/images/siskel.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-position: top;
}

/* Executive Summary Card Styling */
h3 {
    display: block;
    direction: center;
    font-family: Tahoma;
    font-size: 15px;
    letter-spacing: 2px;
}

.text-block {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 10px;
    width: 250px;
    margin: 0px auto;
}
.sagebox h3 {
    margin: 0px;
    padding: 0px;
}
.sagebox {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 250px;  
    width: 300px;
    justify-content: center;
    background-size: cover;
    color: white;
}
.box1 {
    background: url("/images/box1.jpg");
    background-size: cover;
    align-items: flex-end;
}
.box2 {
    background: url("/images/box2.jpg");
    background-size: cover;

}  
.box3 {
    background: url("/images/box3.jpeg");
    background-size: cover;
}

/* Career Card Styling */
.intro {
    height: 300px;  
    width: 400px;
    background: url("/images/intro_RDJ.jpg");
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    }

/* RDJ's talents and skills */
.talents {
    height: 300px;  
    width: 400px;
    background: url("/images/rdj_skills.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }
/* places that RDJ has lived */
.home {
    height: 300px;  
    width: 400px; 
    background: url("/images/rdj_house.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}
/* Published works */
.film1 {
    height: 300px;  
    width: 400px;
    background: url("/images/rdj_iron_man.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}
.film2 {
    height: 300px;  
    width: 400px;
    background: url("/images/rdj_sherlock2.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}
.film3 {
    height: 300px;  
    width: 400px;
    background: url("/images/rdj_tt.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}
.awards {
    height: 300px;  
    width: 400px;
    background: url("/images/rdj_awards.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: left;
}

.mmtext-block {
            background-color: rgba(0, 0, 0, 0.507);
            padding: .2em;
        }

.mmtext-block h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.mmtext-block p {
    margin-bottom: 0;
    margin-top: .3em
}
/* Footer */

footer {
    padding: 1em 0em;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
footer a {
    height: 32px;
}

/* card animation */

content:hover .card , content:hover .longCard , content:hover .smallCard {
    transform: scale(.9);
    transition: .5s;
}

content .card:hover, content .longCard:hover, content .smallCard:hover {
    transform: scale(1.2);
    transition: .5s;
}
body {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
  }
